[submodule "inf1900-114"]
	path = inf1900-114
	url = https://githost.gi.polymtl.ca/git/inf1900-114/
[submodule "inf1900-113114"]
	path = inf1900-113114
	url = https://githost.gi.polymtl.ca/git/inf1900-113114/
